.app {
	justify-content: center;
}

.app_header {

}

.article {
	width: 50%;
	text-align: center;
	margin: 0 auto;
}

.article .art_title {
	font-size: 40px;
}

.article_header {
	background-size: cover;
	min-height: 350px;
	padding: 80px 25px;
}

.article_header_text {
	margin: 0 auto;
	max-width: 660px;
	padding: 0 25px;

}

.article_body {
 	margin: 0 auto;
 	max-width: 660px;
 	padding: 0 25px;
}

.article__text {
}

.background-image {
	margin: 0 auto;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 30px;
}

p {
	font-size: 16px;
}